body {
  color: #424242;
  background-color: #fafafa;
  font-family: sans-serif;
  margin-bottom: 10vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #fafafa;
}

body::-webkit-scrollbar-thumb {
  background: #f64060;
}

a {
  color: #424242;
  text-decoration: none;
  padding: 1em;
}

nav a {
  display: inline-block;
}

a:hover {
  color: #f64060;
  background: #eaeaea;
  text-decoration: underline;
}

form div {
  display: inline-block;
  margin: 1em;
}

label {
  display: block;
}

input::placeholder {
  color: #9e9e9e;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #26a69a;
  box-shadow: none;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 1007px) {
  form.center {
    margin: 0px;
    width: 100%;
  }
}

.left {
  text-align: start;
}

.text-style-bold {
  font-weight: bold;
}

.text-color-blue {
  color: #0098ab;
}

.text-color-red {
  color: #f64060;
}

.text-color-gray {
  color: #424242;
}

.text-color-white {
  color: #fafafa;
}

.spacer-horizontal {
  border-bottom: thin solid #424242;
  width: 100%;
  margin: 20px 0px;
}

.page-not-found-message {
  margin: 30px 0px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-logo-containee {
  flex: 1;
  margin: 0;
}

.navbar-logo {
  color: #424242;
  font-size: xx-large;
}

.navbar-logo-navlink:hover {
  color: #424242;
  background: none;
  text-decoration: none;
}

@media screen and (max-width: 1007px) {
  .navbar-logo-navlink {
    padding-left: 0em;
  }
}

.navbar-links-containee {
  flex: 1;
  margin-left: auto;
}

.navbar-user-name {
  padding: 16px;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 1em 0em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.form-containee {
  flex: 1;
}

.form-button-containee {
  flex: 1;
  padding: 0em;
}

.burger-text-color {
  color: #fafafa;
}

.burger-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.burger-link:hover {
  color: #fafafa;
  background: #f64060;
}

.home-message {
  padding-bottom: 1em;
}

.home-navlink {
  text-decoration: none;
  padding: 0;
}

.home-navlink:hover {
  background: none;
  text-decoration: underline;
}

.preloader {
  position: absolute;
  margin: 0px;
}

.progress.preloader.preloader-inner-color {
  background-color: #bdbdbd;
}

.progress .indeterminate.preloader-outer-color {
  background-color: #f64060;
}

.links-nav {
  background: transparent;
  border: none;
  box-shadow: none;
}

.links-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.links-nav-containee {
  flex: 1;
  align-self: center;
  color: #424242;
}

.links-nav-containee:hover {
  background: transparent;
}

.author-link {
  padding: 0em;
}

.author-link:hover {
  color: #0098ab;
  background: none;
}

.component-container {
  padding: 2em;
}

.description {
  padding: 2em 0em;
}

.made-by {
  padding-top: 30em;
}

.remove-outline {
  outline: none;
}
