body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
  margin: 1em;
}

label {
  display: block;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-containee {
  flex: 1;
}

.navbar-links-containee {
  flex: 1;
  margin-left: auto;
}

.navbar-user-name {
  margin: 16px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auth-containee {
  flex: 1;
}
